.letters-wrapper {
  background-color: #9bbbd4;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
.letters-reply-wapper {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 1px black;
}
.replyTime {
  font-size: 10px;
}
.replyComment {
  font-size: 15px;
  font-weight: bold;
}
.letters-content {
  overflow: scroll;
  background-color: #fef01b;
  font-size: 15px;
  word-break: break-all;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.letters-content-wapper {
  text-align: right;
}
.letters-reply-delete {
  text-align: right;
}
.letters-reply-wapper {
  text-align: left;
}
.letters-content-delete {
  cursor: pointer;
  padding: 3px;
  size: 40px;
}
.letters-content-modify {
  cursor: pointer;
  padding: 3px;
  size: 40px;
}
.letters-content-reply {
  cursor: pointer;
  padding: 3px;
  size: 40px;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: left;
}
.letter-author {
  font-weight: bold;
  padding-top: 10px;
}

.button {
  width: 55px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
h2 {
  text-align: center;
}

.versiontag {
  font-size: 10px;
}

.letters-reply-form input {
  width: 100%;
  background-color: #fef01b;
  border: none;
  border-bottom: 1px solid black;
}
