.letter-form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: #9bbbd4;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.button {
  font-weight: lighter;
  width: 50px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(205, 205, 205);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: rgb(250, 255, 0);
  box-shadow: 0px 15px 20px rgba(106, 106, 106, 0.4);
  color: #000;
  transform: translateY(-3px);
}

textarea {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 5px;
}
h2 {
  text-align: center;
}
